*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: burlywood;
    height: auto;
    width: 1000px;
    display: inline-block;
}

header{
    text-align: center;
    margin-top: 20px;
}
.televisores div{
    max-width: 460px;
    max-height: 450px;
    display: inline-block; 
    margin: 20px;
}

.fotosTv img{
    max-width: 250px;
    max-height: 220px;
}

.fotosTv{
    vertical-align: text-bottom;
    align-content: center;
}

.listadoCompra{
    border-style: double;
    border-color: black;
    background-color: aqua;
    height: 350px;
    width: 610px;
    font-size: 20px;
    margin-bottom: 80px;
}

.listadoCompra h3{
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left: 15px;
    text-align: center;
}

.tabla{
    margin: 12px;
    font-style: oblique;
    text-align: center;
    width: 500px;

}

.boton_borrar{

    background-color: red;
    font-weight: bold;
}